<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= @title || 'Page' %> &mdash; ZFSmon</title>
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/bootstrap-responsive.min.css" />
        <script type="application/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="application/javascript" src="/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="/js/sorttable.js"></script>
        <script type="application/javascript" src="/js/bootstrap-transition.js"></script>
        <script type="application/javascript" src="/js/bootstrap-collapse.js"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
            td {
                padding-right: 15px;
            }
            /* Sortable tables */
            table.sortable thead {
                background-color:#eee;
                color:#666666;
                font-weight: bold;
                cursor: default;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1><a href="/" style="text-decoration: none;">zfs monitor</a> <%= if @title then "&mdash; #{@title}" else nil end %></h1>
            </div>
            <%= yield %>
            &nbsp;
            <div class="row">
                <div class="span8" id="footer">
                    &nbsp;
                </div>
            </div>&nbsp;
        </div>
    </body>
</html>
